.services-hero {
  background-color: #0a1823;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  position: relative;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 20px
  );
}

.services-content {
  max-width: 700px;
  margin: 0 auto;
}

.services-tag {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #4ca5ee;
}

.services-content h1 {
  font-size: 60px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 800;
}

.services-subtext {
  font-size: 20px;
  color: #525558;
  margin-top: -15px;
  margin-bottom: 30px;
  line-height: 1.6;
  letter-spacing: 3px;
}


.services-btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #4f9fff;
  color: #4f9fff;
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
  z-index: 1;
}

.services-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #4f9fff;
  z-index: -1;
  transition: all 0.4s ease;
}

.services-btn:hover {
  color: #fff;
}

.services-btn:hover::before {
  left: 0;
}